.container {
  position: relative;
  padding: 10px;
  .icon {
    width: 30px;
    height: auto;
    display: block;
    position: relative;
    cursor: pointer;
  }
  .hoverContent {
    position: absolute;
    display: none;
  }
}

@media (max-width: 900px) {
  .container {
    position: fixed;
    right: 50px;
    top: 0px;
    .icon {
      width: 28px;
    }
  }
}
