.container {
  position: relative;
  padding: 15px;
  .icon {
    width: 30px;
    height: auto;
    display: block;
    position: relative;
    cursor: pointer;
  }
  .hoverContent {
    position: absolute;
    display: none;
  }
}
