.methods {
  display: flex;
  flex-direction: column;
  > div {
    width: fit-content;
    > div {
      display: block;
      max-width: calc(100vw - 362px);
      div {
        display: inline-block;
      }
    }
  }
  margin-bottom: -20px;
  label {
    width: 100%;
    color: #008fc7;
    position: relative;
    top: 6px;
    padding-left: 20px;
  }
  img {
    width: 70px;
  }
  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: #008fc7 !important;
    }
  }
}
.left {
  align-items: flex-end;
  padding-right: 10px;
  text-align: left;
}
.right {
  align-items: flex-start;
  padding-left: 10px;
  text-align: left;
}
.center {
  align-items: center;
  text-align: center;
  > div > div {
    justify-content: center;
  }
}
.large {
  label {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  img {
    width: 90px;
  }
  span p {
    font-size: 1.2rem;
  }
}

@media (max-width: 850px) {
  .methods {
    > div {
      > div {
        max-width: unset !important;
        text-align: center;
      }
      label {
        text-align: center;
        padding-bottom: 18px;
      }
      img {
        width: 60px;
        margin: 3px;
      }
      span p {
        font-size: 0.8rem !important;
        font-weight: 500 !important;
      }
    }
  }
}
