.machinery {
  position: relative;
  img {
    display: block;
    width: 100%;
  }
  > p {
    position: absolute;
    top: 13%;
    right: 3.2%;
    text-align: right;
    font-size: 1.5rem;
    span {
      padding: 2px 12px;
    }
    b {
      display: block;
      background-color: #257ab4;
      color: white !important;
      padding: 2px 12px;
    }
  }
  .text {
    position: absolute;
    left: 45%;
    font-weight: 300;
    top: 38%;
    p {
      font-size: 1.5rem;
      padding-bottom: 1rem !important;
    }
  }
  .padRight {
    left: 65%;
  }
}
