.carousel {
  padding: 20px 0px;
}
.modalClass {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  margin: 0px auto 0px;
  top: calc(50% - 200px);
  img {
    display: block;
    width: 100%;
  }
}
.locksBanner {
  width: 100%;
  position: relative;
  box-shadow: 2px 2px 10px -5px #000000ba;
  div {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20px;
    * {
      text-align: center;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    background-color: #f4f5f7;
    padding-top: 80px;
  }
  h2 {
    b {
      font-weight: 700 !important;
    }
  }
  h3 {
    font-size: 1.2rem;
  }
}
.finalSubtitle {
  font-size: 3rem;
}
