.container {
  padding: 20px 0px;
  h1 {
    color: #008fc7 !important;
    font-size: 4rem;
    font-weight: 600 !important;
  }
  .intro {
    margin: 20px 0px !important;
    border-bottom: 2px solid #008fc7;
  }
  .methods {
    padding: 20px 0px 70px;
    background-color: #f6f5f6;
    margin: 30px 0px;
  }
  .caracteristics {
    padding: 20px 0px 30px;
    background-color: #f6f5f6;
    margin: 30px 0px;
    h3 {
      color: #008fc7 !important;
      font-size: 2rem;
      text-align: center;
      padding-bottom: 20px;
    }
    > div {
      text-align: center;
      width: 100%;
      margin: auto;
      max-width: 700px;
      > div {
        margin: 10px 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: auto;
        img {
          display: block;
          height: 60px;
          width: auto;
        }
        span {
          color: #008fc7;
          margin-top: 8px;
        }
      }
    }
  }
}
