.container {
  text-align: center;
  margin-bottom: 100px;
  height: fit-content;
  max-width: 790px;
  width: 100%;
  padding: 0px 34px;
  transition: all 0.4s;
  transform: scale(1);
  opacity: 0;
  .contentRight,
  .contentLeft {
    margin: 80px auto 0px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    transition: all 0.4s;
    > img {
      position: absolute;
      height: auto;
      max-height: 450px;
      max-width: 320px;
      display: block;
      z-index: 40;
    }
    .text {
      text-align: left;
      background: whitesmoke;
      box-shadow: 0px 8px 10px -5px #00000087;
      position: relative;
      min-height: 210px;
      width: 100%;
      .lines {
        z-index: 30;
        width: 100%;
        position: absolute;
        top: 0px;
        height: 150px;
        object-fit: cover;
        padding-top: 10px;
      }
      .actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 100%;
        min-height: 160px;
        > div:first-child {
        }
        > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          a {
            background: #2f2f2f;
            color: white !important;
            padding: 5px 12px;
            position: relative;
            border-radius: 20px;
            display: inline-block;
            z-index: 80;
          }
          .price {
            background: #0a73be;
            padding: 0px 12px;
            color: white;
            font-size: 1.4rem;
            font-weight: 800;
            margin-bottom: 6px;
          }
        }
      }
      h2 {
        font-weight: 700 !important;
      }
      h3 {
        font-size: 1.1rem;
        font-weight: 400 !important;
      }
    }
  }
  .contentLeft {
    justify-content: flex-start;
    right: 40px;
    > img {
      left: -50px;
    }
    .text {
      padding: 20px 0px 24px 60px;
      .lines {
        object-position: left;
      }
      .actions {
        > div:first-child {
          padding-left: 70px;
        }
        > div:nth-child(2) {
          padding-right: 20px;
          align-items: flex-end;
        }
      }
    }
  }
  .contentRight {
    justify-content: flex-end;
    left: 40px;
    > img {
      right: -50px;
    }
    .text {
      padding: 20px 60px 24px 0px;
      .lines {
        object-position: right;
      }
      .actions {
        > div:first-child {
          padding-right: 70px;
          right: 0px;
          text-align: right;
          order: 2;
        }
        > div:nth-child(2) {
          order: 1;
          align-items: flex-start;
          padding-left: 20px;
        }
      }
    }
  }
}
.container:hover {
  transform: scale(1.02);
}
.visible {
  opacity: 1;
  .contentRight {
    left: 0px;
  }
  .contentLeft {
    right: 0px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0px 4px;
    margin-bottom: 10px;
    margin-top: -30px;
    .contentRight,
    .contentLeft {
      align-items: flex-start;
      > img {
        max-height: 330px;
        max-width: 180px;
      }
      .text {
        .actions {
          flex-direction: column;
          min-height: 292px;
          padding-bottom: 60px;
          > div:first-child {
            order: 1;
          }
          > div:nth-child(2) {
            order: 2;
          }
        }
      }
    }
    .contentLeft {
      > img {
        left: -16px;
      }
      .text {
        > div:not(.actions) {
          margin-left: -60px;
          align-items: center;
        }
        .actions {
          > div:nth-child(2) {
            padding-right: 10px;
          }
        }
      }
    }
    .contentRight {
      > img {
        right: -16px;
      }

      .text {
        > div:not(.actions) {
          margin-right: -60px;
          align-items: center;
        }
        .actions {
          > div:nth-child(2) {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
